<div class="col-6">

    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.manufacturer_name}} "placeholder="Manufacturer Name"
        name="manufacturer_name">
      <label for="floatingInput">Manufacturer Name</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.manufacturer_location}}" placeholder="Manufacturer location"
        name="manufacturer_location">
      <label for="floatingInput">Manufacturer location</label>
    </div>
  </div>

  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.manufacturer_details}}" placeholder="Manufacturer details"
        name="manufacturer_details">
      <label for="floatingInput">Manufacturer details</label>
    </div>



    <div class="col-12 d-grid">
      <button class="btn btn-primary" type="submit">Submit</button>
    </div>