<div class="col-6">
 
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.Name}}" placeholder=" Name" name="Name">
        <label for="floatingInput"> Name</label>
      </div>
  </div>

    <div class="col-6">
      <div class="form-floating mb-3">
        <input type="number" class="form-control" id="floatingInput" value="{{this.Quantity}}" placeholder="Quantity" name="Quantity">
        <label for="floatingInput">Quantity</label>
      </div>
    </div>

     <div class="col-6">
      <div class="form-floating mb-3">
        <input type="number" class="form-control" id="floatingInput" value="{{this.Price}}" placeholder="Price" name="Price">
        <label for="floatingInput">Price</label>
      </div>
  </div>

<div class="col-12 d-grid">
  <button class="btn btn-primary" type="submit">Submit</button>
</div>