<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce dashboard</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css	">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet"  href="/css/main.css">
    <script src="/js/main.js"></script>
</head>

<body id="body-pd">

    <header class="header" id="header">
        <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div>
        <h3>Ecommerce Dashboard</h3>
        <div class="header_img"> <img src="" alt=""> </div>
    </header>
    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div> 
                    <a href="/" class="nav_logo"> 
                    <i class='bi bi-app nav_logo-icon'></i> 
                    <span class="nav_logo-name">Dashboard</span> 
                    </a>
            <div class="nav_list"> 
                    <a href="/" class="nav_link active"> 
                    <i class='bi bi-box-seam nav_icon'></i>
                    <span class="nav_name">Products</span> </a> 

                    <a href="/manufacturer" class="nav_link"> 
                    <i class='bi bi-people nav_icon'></i> 
                    <span class="nav_name">Manufacturers</span> </a> 
                    

                                        <a href="/manufacturerandproduct" class="nav_link"> 
                    <i class='bx bx-user nav_icon'></i> 
                    <span class="nav_name">Manufacturer's products</span> </a> 
                    
                    <a href="/seller"  class="nav_link"> <i class='bi bi-bag nav_icon'></i> <span
                            class="nav_name">Sellers</span> </a>

                    <a href="/rawMaterials"  class="nav_link"> <i class='bi bi-basket3 nav_icon'></i> <span
                            class="nav_name">Raw Materials</span> </a>        

                    <a href="/category"  class="nav_link"> <i class='bi bi-tags nav_icon'></i> <span
                            class="nav_name">Category</span> </a> 

                    <a href="/cat_prod"  class="nav_link"> <i class='bi bi-basket nav_icon'></i> <span
                            class="nav_name">Product-Category</span> </a>  
                    <!--  <a href="#" class="nav_link"> <i
                            class='bx bx-bookmark nav_icon'></i> <span class="nav_name">Bookmark</span> </a>
                            
                             <a href="#"
                        class="nav_link"> <i class='bx bx-folder nav_icon'></i> <span class="nav_name">Files</span> </a>


                    <a href="#" class="nav_link"> <i class='bx bx-bar-chart-alt-2 nav_icon'></i> <span
                            class="nav_name">Stats</span> </a> 
                            -->

                </div>
            </div> 
        </nav>
    </div>
    <!--Container Main start-->
    <div class="height-100 bg-light">
        <div class="container pt-5 pb-5  col-md-6 col-lg-8">

            {{{body}}}
        </div>
    </div>


    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>