<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page"><a href="/">Home</a></li>
  </ol>
</nav>

<form class="row g-3" method="post" action="/add">

  <div class="col-6">
 
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="Product Name" name="product_name">
        <label for="floatingInput">Product Name</label>
      </div>
  </div>
    <div class="col-6">
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="Manufacturer" name="product_manufacturer">
        <label for="floatingInput">Manufacturer</label>
      </div>
    </div>

     <div class="col-6">
      <div class="form-floating mb-3">
        <input type="number" class="form-control" id="floatingInput" placeholder="Quantity" name="product_quantity">
        <label for="floatingInput">Quantity</label>
      </div>

           <div class="col-6">
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="Category" name="product_category">
        <label for="floatingInput">Category</label>
      </div>
  </div>

<div class="col-12 d-grid">
  <button class="btn btn-primary" type="submit">Submit</button>
</div>

</form>