<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page"><a href="/">Go back Home</a></li>
  </ol>
</nav>

<h3>Edit Product</h3>

{{#each rows}}
<form class="row g-3" method="post" action="/edit/{{this.id}}" nonvalidate>
    {{> product-form}}
</form>
{{/each}}

